.dropdown-toggle.dropdown-toggle-nocaret.toggle::after{
    display: none !important;

}
.dropdown-toggle.dropdown-toggle-nocaret::after{
    display: none !important;

}
.dropdown-toggle.dropdown-toggle-nocaret::after{
    display: none !important;


}
.dropdown-toggle.dropdown-toggle-nocaret::after{
    display: none !important;

}